<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d575947870.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/img/icon.png">
    <title>Account Manager</title>
</head>

<body id="body">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container ml-5">
            <a class="navbar-brand nav-icon" href="/home">Account Manager <i class="fas fa-user-secret"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <% if (isLoggedIn==false) { %>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item m-2">
                            <a class="nav-link" href="/signup"><i class="fas fa-user-plus"></i> Register</a>
                        </li>
                        <li class="nav-item m-2">
                            <a class="nav-link" href="/signin"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </li>

                    </ul>



                    <%} else { %>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link ml-2" href="/home"><i class="far fa-user-circle">
                                        <%=profileName %>
                                    </i></a>
                            </li>



                        </ul>
                        <% } %>



            </div>
        </div>
    </nav>

    <nav class="side-navbar">
        <section class="right-side-navbar">

            <div class="logo">
                <i class="fas fa-user-secret nav-icon" style="font-size: larger;"></i>
            </div>

            <div class="toggeler-icon" id="toggle">
                <i class="fa fa-align-justify" id="dash"></i>
            </div>

            <div class="translate-and-share-icons">
                <div class="globe-icon pb-2">
                    <span>
                        <i class="fas fa-globe"></i>
                    </span>
                </div>

                <div class="share-icon pt-1">
                    <span>
                        <i class="fas fa-share-alt"></i>
                    </span>
                </div>
            </div>

        </section>

        <section class="left-side-navbar">

            <div class="nav-items">
                <ul class="items">
                    <!-- Catagories -->
                    <% if (isLoggedIn==false) { %>
                        <li class="item"><a class="nav-category" href="/sigup"><i class="fas fa-user-plus"> Sign Up</i></a>
                        </li>

                        <li class="item"><a class="nav-category" href="https://github.com/Abrahim-Saad"><i
                                    class="fab fa-github"></i> Get Source Code</a></li>
                        <li class="item"><a class="nav-category" href="https://twitter.com/Abrahim_Saad_"><i
                                    class="fab fa-twitter"></i> Follow Us</a></li>
                        <li class="item"><a class="nav-category"
                                href="https://www.linkedin.com/in/ibrahim-saad-507768192/"><i
                                    class="fas fa-file-signature"></i> Connect Us</a></li>

                        <% } else { %>
                            <li class="item"><a class="nav-category" href="/home"><i class="fas fa-address-card"></i>
                                    Profile</a></li>
                            <li class="item"><a class="nav-category" href="/settings"><i class="fas fa-sliders-h"></i>
                                    Settings</a></li>
                            <li class="item"><a class="nav-category" href="/security"><i class="fas fa-shield-alt"></i>
                                    Security</a></li>
                            <li class="item"><a class="nav-category" href="/reportBug"><i class="fas fa-bug"></i> Report
                                    a Bug</a></li>
                            <li class="item"><a class="nav-category" href="https://github.com/Abrahim-Saad"><i
                                        class="fab fa-github"></i> Get Source Code</a></li>
                            <li class="item"><a class="nav-category" href="https://twitter.com/Abrahim_Saad_"><i
                                        class="fab fa-twitter"></i> Follow Us</a></li>
                            <li class="item"><a class="nav-category"
                                    href="https://www.linkedin.com/in/ibrahim-saad-507768192/"><i
                                        class="fas fa-file-signature"></i> Connect Us</a></li>

                            <li class="item"><a class="nav-category" href="/signout"><i class="fas fa-sign-out-alt"> Log Out</i></a>
                            </li>
                            <% } %>


                </ul>
            </div>

            <div class="social-medi ml-4">

                <div class="copy-rights">
                    <span>Copyright © 2021<br>All Rights Reserved.</span>
                </div>

            </div>

        </section>

    </nav>