<%- include("shared/header.ejs") %> 

<div class="container m-5">
    <div class="row m-5 form-group">
        <div class="col-md-12 text-center m-5 message">
            <h3><i class="fas fa-paper-plane text-success"></i> We have Sent You a Verfication Email! <br></h3>
            <h3><i class="fas fa-envelope text-success"></i> Please Check Your Email for the Link.</h3>
            
        </div>
    </div>
</div>

<%- include("shared/footer.ejs") %> 
