<%- include("shared/header.ejs") %> 

<div class="container my-5 py-5">
    
        <div class="col-md-6  m-auto text-center">
            <form action="/storeResetPassword" method="POST" class="ml-5">
                <p class="text-danger"><i class="fas fa-ban"></i> Forgot Your Password!
                </p>
                <h4 class="btn btn-success"><i class="fas fa-check"></i> Reset Your Password Now!</h4>
                
                <div class="form-group mt-2">
                    <input placeholder="Enter your Email" type="email" value="<%=oldInputs.userEmail%>" name="userEmail" class="form-control" />
                    <% if (emailExists == false) { %>
                        <input class="alert alert-danger form-control error" value="Email doesn't Exist!!" readonly>
                     
                    <% } %>
    
                    <% if (invalidEmail) { %>
                        <input class="alert alert-danger form-control error" value="Invalid Email!!" readonly>
                     
                    <% } %>
                    
                </div>
                <div class="form-group">
                    <input placeholder="Enter Your New Password" type="password" name="newUserPassword" class="form-control" />
                </div>
                <div class="form-group">
                    <input placeholder="Confirm Your New Password" type="password" name="confirmNewUserPassword" class="form-control" />
                </div>
    
                
    
        
                <button type="submit" class="btn btn-success w-100" style="background-color: #c7781c;"><i class="fas fa-redo-alt"></i> Reset Password</button>
            </form>
        </div>
    </div>
</div>

<%- include("shared/footer.ejs") %> 
